<h1>ABOUT</h1>
<a href="{% url 'home' %}">Home</a>

<h3>
  <p> This WORDCOUNT website was created by Liano as his first Django project early
  during his journey on learning the basics of the webframe :).
  </p>
</h3>


<h4>
  <p> This project uses the Django web-framework and Python in order to create
      a web program that consists of the following:
    <br>
    <br>
        - a homepage, which prompts the user to provide some text using a form and then
          submitting it.
    <br>
        - a counting page, which then displays the users text with the amount of words
        in the text and a list of the amount of appearances of each word as well.
    <br>
        - and lastly a views.py file where most of the back end python code was
          written for counting the words and displaying it.
    </p>
</h4>
